html,
body,
#app,
#app > div {
  height: 100%;
  margin: 0
}

.home-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}

.middle {
	position: absolute;
	top: 30%;
}

tspan {
	font-size: 1.2em;
}

#search {
	padding: 1em 0;
	text-align: center;
	margin-top: 5px;
}

.metric {
	position:absolute;
	bottom: 5px;
	margin: 0 auto;
	left: calc(50% - 60px);

}

.half {
	width:40%;
}

.half > input {
	text-align: center;
}

.display {font-size: 1.5em;}

.button-container {
	display: flex;
	justify-content: center;
}

.row {overflow: hidden;}

@media (min-width: 600px) {
  .mobile-display {
    display: none;
  }
}

@media (min-width: 960px) {
	.entry {
    	float: left;
    	width: 50%;
	}	
}

#CurrentWeather, #NewCity {
	min-height: 300px;
}


.entry {
    text-align: center;
    min-height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


